$font-stack:    Helvetica, sans-serif;
$primary-color: white;

body {
  font: 100% $font-stack;
  background: $primary-color;
}

.mySpinner {
  font-size: 150px !important;
}

.img {
  height: 100px;
  width: 275px;
}